input, button {
    outline: none;
    -webkit-appearance: none;
}

div#content {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgb(0, 0, 0);
}

div#remote {
    z-index: 2;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    vertical-align: middle;
    padding: 2px;

    width: 100%;
    height: 100%;
}

div#stats {
    height: .8em;
    text-align: center;
    margin: 2px;
    color: rgb(255, 255, 255);

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
div#timer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    user-select: none;
}

/* Remote go */
input#remote-url {
    font-size: 1em;
    padding: 4px 4px;
    border-radius: 16px;
    top: 50%;
    left: 50%;
}
input#remote-go {
    border-radius: 8px;
    padding: 3px 3px;
    width: 36px;
}
form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Timer */
div#tool {
    text-align: center;
    z-index: 4;
    position: relative;
}
div#time_set > button, div#tool > button {
    font-size: .8em;
    border-radius: 4px;
}
div#time {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-50%);
    text-align: center;
}
span.time > a.time {
    font-size: 4em;
    padding: 12px;
    position: relative;
    top: calc(50% - 60px);
    transform: translateY(-50%);

    color: rgb(255, 255, 255);
    text-shadow: 0 0 4px 4px;
}
span.time > a:not(.time) {
    font-size: .7em;
    color: rgb(141, 141, 141);
}